:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
    scroll-behavior: smooth;
    transition-duration: 5s;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #290052;
    margin: 0 0;
    font-size: 0.5vw;
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.sidebar {
    height: 100%;
    width: 15vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5em;
    border-right: 3px solid #D6EDFF;
}

.sidebar a {
    padding: 5px 10px;
    border: 2px solid #000000;
    font-family: "Inter";
    border-radius: 15px;
}

.centered-parent {
    overflow: hidden;
    height: 100vh;
    display: grid;
    background-image: linear-gradient(#08003D, #290052);
    grid-template: 30em 30em;
    user-select: none;
}

#green-large {
    left: 72.5em;
    top: 65em;
    position: absolute;
    animation: rotate 10s linear;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 15em;
    transition: 1s;
}

#green-med {
    left: 72.5em;
    top: 65em;
    filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(1189%) hue-rotate(108deg) brightness(88%) contrast(83%);
    position: absolute;
    animation: rotate 7s linear;
    padding: 0em 0em;
    animation-direction: reverse;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 15em;
    transition: 1s;
}

#green-small {
    left: 72.5em;
    top: 65em;
    position: absolute;
    animation: rotate 5s linear;
    padding: 1.5em 1.5em;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 12em;
    transition: 1s;
}

#blue-large {
    position: absolute;
    filter: brightness(0) saturate(100%) invert(37%) sepia(59%) saturate(1872%) hue-rotate(189deg) brightness(91%) contrast(95%);
    left: 92.5em;
    top: 65em;
    animation: rotate 10s linear;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 15em;
    transition: 1s;
}

#blue-med {
    position: absolute;
    animation: rotate 7s linear;
    left: 92.5em;
    top: 65em;
    padding: 1em 1em;
    animation-direction: reverse;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 13em;
    transition: 1s;
}
#blue-small {
    position: absolute;
    left: 92.5em;
    top: 65em;
    animation: rotate 5s linear;
    animation-delay: -3s;
    padding: 1.5em 1.5em;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 12em;
    transition: 1s;
}

#red-large {
    left: 112.5em;
    top: 65em;
    position: absolute;
    animation: rotate 10s linear;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 15em;
    transition: 1s;
}

#red-med {
    left: 112.5em;
    top: 65em;
    position: absolute;
    filter: brightness(0) saturate(100%) invert(54%) sepia(11%) saturate(5826%) hue-rotate(303deg) brightness(101%) contrast(99%);
    animation: rotate 7s linear;
    animation-delay: -3s;
    padding: 1em 1em;
    animation-direction: reverse;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 13em;
    transition: 1s;
}
#red-small {
    top: 65em;
    left: 112.5em;
    filter: brightness(0) saturate(100%) invert(75%) sepia(13%) saturate(725%) hue-rotate(288deg) brightness(107%) contrast(91%);
    position: absolute;
    animation: rotate 5s linear;
    animation-delay: -3s;
    padding: 2em 2em;
    transform-origin: center;
    animation-iteration-count: infinite;
    width: 11em;
    transition: 1s;
}

.centered-child {
    position: absolute;
    user-select: none;
}

.shadow {
    border-radius: 50%;
    box-shadow: 
        inset 0 0 3em 0.5em #E4D9FF,
        0 0 5em 2em #E4D9FF;
    opacity: 30%;
    margin: 3em 3em;
    transition: 1s;
}

#shadow-green {
    left: 72.5em;
    position: absolute;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    top: 65em;
    box-shadow: 
        inset 0 0 5em 1.25em #D0FFD6,
        0 0 5em 2.5em #D0FFD6;
    opacity: 30%;
    margin: 3em 3em;
    transition: 1s;
    cursor: pointer;
}

#shadow-red {
    left: 112.5em;
    position: absolute;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    top: 65em;
    box-shadow: 
        inset 0 0 5em 1.25em #FFD3E8,
        0 0 5em 2.5em #FFD3E8;
    opacity: 30%;
    margin: 3em 3em;
    cursor: pointer;
}

#shadow-blue {
    position: absolute;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    left: 92.5em;
    top: 65em;
    box-shadow: 
        inset 0 0 5em 1.25em #E4D9FF,
        0 0 5em 2.5em #E4D9FF;
    opacity: 30%;
    margin: 3em 3em;
    cursor: pointer;
}

.shadow:hover {
    border-radius: 50%;
    box-shadow: 
        inset 0 0 5em 1.25em #F6E7CB,
        0 0 5em 2.5em #F6E7CB;
    opacity: 30%;
    margin: 3em 3em;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

#green-rings {
    opacity: 0%;
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#blue-rings {
    opacity: 0%;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#red-rings {
    opacity: 0%;
    animation: fadeIn 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

#page-header {
    position: absolute;
    width: 60em;
    left: 67.5em;
    top: 35em;
}

#page-header h1 {
    text-align: center;
    text-shadow: 0 0 5em white;
    padding: 0;
    margin: 0;
    font-size: 10em;
    font-weight: 500;
    color: white;
    opacity: 0%;
    animation: fadeIn 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;  
    font-family: Inter;
}

#page-header h2 {
    margin: 0;
    opacity: 0%;
    padding: 0;
    text-align: right;
    font-size: 2em;
    font-weight: 100;
    color: white;
    animation: fadeIn 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: Inter;
}

#page-header h3 {
    margin: 0;
    opacity: 0%;
    padding: 0;
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    color: white;
    animation: fadeIn 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: Inter;
}

#contact-banner {
    position: absolute;
    top: 90em;
    left: 93.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    filter: invert(100%);
    opacity: 50%;
    transition: 1s;
}

.icon:hover {
    opacity: 100%;
}

#hovertext {
    left: 75.7em;
    top: 81em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

#about-me { 
    width: 10em;
    text-shadow: 0 0 200em white;
    animation-fill-mode: forwards;
    opacity: 0%;
    transition-duration: 3s;
}

#about-me h1{
    font-family: Inter;
    font-weight: 100;
    font-size: 2em;
    color: white;
}

#projects {
    width: 10em;
    text-shadow: 0 0 200em white;
    animation-fill-mode: forwards;
    opacity: 0%;
    transition-duration: 3s;
    margin: 0em 10.6em;
}

#projects h1{
    font-family: Inter;
    font-weight: 100;
    font-size: 2em;
    color: white;
}

#more {
    width: 10em;
    text-shadow: 0 0 200em white;
    animation-fill-mode: forwards;
    opacity: 0%;
    transition-duration: 3s;
    margin: 0em 1em
}

#more h1{
    font-family: Inter;
    font-weight: 100;
    font-size: 2em;
    color: white;
}

hr {
    width: 70%;
    background-color: white;
    height: 0.25em;
    border-width: 0;
    opacity: 50%;
    margin: 2em auto 10em auto;
}

#about-me-section {
    position: relative;
    margin: 20em auto;
    width: 40%;
}

#about-me-section:hover h1 {
    color: #BAF2D8;
}

#about-me-section h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 100%;
    transition-duration: 1s;
    width: 5em;
}

.quote {
    font-family: Inter;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 80%;
    margin: 0 auto;
    text-align: center;
}

#about-me-section h1:hover {
    text-shadow: 0 0 2em white;
    opacity: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-me-text {
    flex-grow: 2;
    margin-right: 10em;
    margin-left: 0;
}

#about-me-head {
    margin: 5em 0em;
}

#about-me-info {
    position: relative;
}

#about-me-text p {
    font-family: Inter;
    font-size: 2em;
    color: white;
    font-weight: 200;
    opacity: 90%;
}

#about-me-text p strong{
    font-size: 1em;
    font-weight: 500;
    color: #D8F3FE;
    text-shadow: 0 0 2em #D8F3FE;
    opacity: 100%;
}

#about-me-image {
    width: 20em;
    border-radius: 50%;
    border: none;
    flex-grow: 1;
}

#projects-section {
    position: relative;
    margin: 10em auto;
    width: 50%;
}

#projects-section h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 100%;
    transition-duration: 1s;
    width: 5em;
    margin: auto;
}

.project-container {
    user-select: none;
    margin: 5em auto;
    display: flex;
    padding: 3em 3em;
    border-radius: 2em;
    transition-duration: 1s;
    transform-origin: center;
    transform: scale(0.95);
    text-align: center;
    align-items: center;
}

.project-container:hover {
    background: #1F003D;
    transform: scale(1.0);
}

.project-container h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 3em;
    margin: 0.5em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 100%;
    transition-duration: 2s;
}

.project-container:hover h2 {
    color: #BAF2D8;
}

.project-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    width: 60%;
}

.project-thumbnail {
    width: 18em;
    margin: 1em 0em;
    transition-duration: 2s;
}

.project-button {
    min-width: 7.5em;
    margin: 1em;
    text-align: center;
    padding: 0.5em 1em;
    border-width: 0.25em;
    border-radius: 1em;
    border-style: solid;
    border-color: #BAF2D8;
    transition-duration: 1s;
    color: #BAF2D8;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button:hover {
    color: black;
    background-color: #BAF2D8;

}

.project-button p {
    font-family: Inter;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

.project-summary a {
    text-decoration: none;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 0em;
}

.skill {
    padding: 0.75em 1.5em;
    border-width: 0.25em;
    border-radius: 1em;
    border-style: solid;
    border-color: #BAD7F2;
    color: #BAD7F2;
    text-align: center;
    transition-duration: 1s;
    margin: 1em 0.5em;
}

.skill:hover {
    background-color: #BAD7F2;
    color: black;
    font-weight: 700;
}

.skill p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
}

.description {
    margin: 1em;
    text-align: left;
}

.description p {
    color: white;
    font-size: 1.75em;
    font-weight: 300;
    font-family: Inter;
}

.description li {
    color: white;
    font-size: 1.75em;
    font-weight: 300;
    font-family: Inter;
}

.description li a{
    color: #BAD7F2;
    font-weight: 500;
    text-decoration: none;
    font-family: Inter;
}


.description p a{
    color: #BAD7F2;
    font-weight: 500;
    text-decoration: none;
    font-family: Inter;
}

.grid-container {
    display: flex;
}

.footer {
    margin: -5em auto 3em auto;
    color: white;
    text-align: center;
    display: flex;
    width: 40%;
}

.footer p {
    font-family: Inter;
    font-size: 1.75em;
    font-weight: 300;
    opacity: 80%;
    margin: auto auto;
}

.footer img {
    flex-basis: 5%;
    margin: auto auto;
    transition-duration: 1s;
}

.footer img:hover {
    transform-origin: center;
    transform: scale(1.1);
}

#more-section {
    user-select: none;
    position: relative;
    margin: 5em auto;
    width: 50%;
    text-align: center;
}

#more-section h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 100%;
    transition-duration: 1s;
    margin: auto;
}

#more-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.more-box {
    margin: 5em 0em;
    width: 40%;
    padding: 5em;
    border-radius: 10%;
    transform-origin: center;
    color: white;
    transform: scale(0.9);
    transition-duration: 1s;
    display: flex;
    justify-content: center;
}

.more-box:hover {
    transform: scale(1);
    background-color: #1F003D;
}

.more-box h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 2em white;
    opacity: 100%;
    transition-duration: 1s;
    margin: auto 1em;
    flex-basis: 25%;
}

.more-box p {
    font-family: Inter;
    font-weight: 500;
    font-size: 3em;
    opacity: 100%;
    margin: 1em auto;
    flex-grow: 1;
}

.items {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.item1 {
    padding: 0.75em 1.5em;
    border-width: 0.25em;
    border-radius: 1em;
    border-style: solid;
    border-color: #BAD7F2;
    color: #BAD7F2;
    text-align: center;
    transition-duration: 0.5s;
    margin: 1em 0.5em;
}

.item1:hover {
    background-color: #BAD7F2;
    color: black;
    font-weight: 700;
}

.item1 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.5em;
    transition-duration: 0.5s;
    margin: 0;
}

.item2 {
    padding: 0.75em 1.5em;
    border-width: 0.25em;
    border-radius: 1em;
    border-style: solid;
    border-color: #BAF2D8;
    color: #BAF2D8;
    text-align: center;
    transition-duration: 0.5s;
    margin: 1em 0.5em;
}

.item2:hover {
    background-color: #BAF2D8;
    color: black;
    font-weight: 700;
}

.item2 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.5em;
    transition-duration: 0.5s;
    margin: 0;
}

.item3 {
    padding: 0.75em 1.5em;
    border-width: 0.25em;
    border-radius: 1em;
    border-style: solid;
    border-color: #F2BAC9;
    color: #F2BAC9;
    text-align: center;
    transition-duration: 0.5s;
    margin: 1em 0.5em;
}

.item3:hover {
    background-color: #F2BAC9;
    color: black;
    font-weight: 700;
}

.item3 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.5em;
    transition-duration: 0.5s;
    margin: 0;
}
